<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 offset-sm-3 col-md-3 offset-md-0">
            <small>&copy <a href="https://www.secure-dimensions.de" target="_SD">Secure Dimensions GmbH</a></small>
        </div>
        <div class="col-sm-4 col-md-2">
            <a href="${HOME_URL}/terms.html">Terms Of Use</a>
        </div>
        <div class="col-sm-4 col-md-2">
            <a href="${HOME_URL}/privacy.html">Privacy Statement</a>
        </div>
        <div class="col-sm-4 col-md-2">
            <a href="${HOME_URL}/cookies.html">Cookie Statement</a>
        </div>
        <div class="col-sm-6 offset-sm-3 col-md-3 offset-md-0">
            <small>Last updated 08.05.2023</small>
        </div>
    </div>
</div>